.featurette-divider {
    margin: 5rem;
}

a.text-light:hover, a.text-light:focus  {
    color: white !important;
}

a.non-hover:hover, 
a.non-hover:focus {
    color: #6c757d !important;
}
.carousel-caption {
    bottom: 5rem;
}