body {
    background-color: #f5f5f5
}

.button-text {
    text-align: center;
}

.button-text img {
    width: 72px;
    height: 72px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.margin-0 {
    margin-bottom: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
.margin-0 .col-centered input {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.5rem;
}
#inputPassword {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1.5rem;
}
.footer button {
    padding: 1.0rem;
}